---
---
<div class="password-input">
    <script type="text/javascript">
        let pwds = {{ site.data.passwords | jsonify }};
        for (pwd in pwds) {
            console.log("password");
        }
        //console.log({{ site.data.passwords | jsonify }});
    </script>
    <script src="../assets/js/password-handler.js" type="text/javascript"></script>
    <label for="passwordInput">TO UNLOCK MORE, ENTER PROMO CODE HERE!!!!!</label>
    <input type="text" id="passwordInput" name="passwordInput" />
    <button onclick="submitPromoCode(page.passwords)">SUBMIT PROMO CODE</button>
</div>