body {
    background-color: #530F0F;
    color: #FFF8EB;

    .zindorg {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;

        h1, h2, h3, h4, h5 {
            font-family:'Times New Roman', Times, serif;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        h1 {
            font-size: 53px;
        }

        h2 {
            font-size: 29px;
        }

        h3 {
            font-size: 22px;
        }

        h4 {
            font-size: 20px;
            color: #FF9E42;
        }

        p {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        a {
            color: #FF8516;
        }

        font-family: monospace;

        ul.nav-ul {
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;
            text-align: center;
            list-style-position: inside;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: 50px;
            justify-content: space-evenly;
        }
        
        li.nav-li {
            a {
                color: #FF8516;
                font-family: 'Times New Roman', Times, serif;
                text-decoration: none;
                padding: 5px;
                font-weight: bold;
                &:hover {
                    border: 2px solid #FFF8EB;
                    border-radius: 5px;
                    font-weight: bolder;
                }
                &.current {
                    border: 2px solid #FFF8EB;
                    border-radius: 5px;
                    font-weight: bolder;
                }
            }
        }
        
        header {
            align-content: center;
            h1 {
                align-self: center;
            }

            .password-input {
                align-self: center;
                padding: 20px;
        
                input {
                    border: 2px #FF8516 solid;
                    border-radius: 5px;
                }
            }
        }

        .page-body {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;

            .zindorg {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                width: 70%;
                align-self: center;

                p {
                    text-align: center;
                    line-height: 30px;
                }

            }

            .learn-more-zindorg {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                align-self: center;
                justify-content: space-evenly;
                gap: 100px;

                div {
                    max-width: 20%;
                    text-align: center;
                    font-weight: 200;

                    p {
                        padding-bottom: 10px;
                    }
                }

                small {
                    font-size: 16;
                }
            }

            padding: 5% 15% 10px;

            font-size: 20px;

            .dan-and-mike {
                img {
                    width: 40%;
                    padding-bottom: 0px;
                }

                display: flex;
                flex-flow: row wrap;
            }
        }
    }

    footer {
        padding: 20px 300px 10px;
    }
}