<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/zindorg/assets/css/styles.css">
  </head>
  <body>
    <div class="zindorg">
      <header>
        <a href="{{ "/zindorg" | absolute_url + "/zindorg" }}"><img src="../zindorg/assets/images/sitelogo.gif" alt="The Magmatic Temple"></a>

        <br>

        {% include navigation.html %}

        {% include password-input.html %}
      </header>
      <section class="page-body">
        {{ content }}
      </section>
      <footer>
        <div>This website was built by a member of the Church of the Magmatic Temple. Church members exercise their 1st Amendment religious freedom rights in conscientious objection of U.S. tax policies. This website may not be used by members of the I.R.S. or any tax agency to inculpate, track, target, or contact members of the Church.</div>
      </footer>
    </div>
    <script type="text/javascript">
      console.log('ENTER PROMO CODE \"HASHBROWNS\" TO UNLOCK MORE!');
    </script>
  </body>
</html>